
<table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >

    <thead>
        <tr>
            <th> Début </th>
            <th> Fin </th>
            <th> Categorie </th>
            <th> Prix </th>
            <th> Option </th>
        </tr>
    </thead>

    <tbody>
        
        <tr *ngFor="let subscription of listeAbonnement" class="my-tr" class=" animate__animated animate__flipInX">
            <td> {{subscription?.dateBegin | date: 'dd MMM yyyy'}}</td>
            <td> {{subscription?.dateEnd | date: 'dd MMM yyyy'}}</td>
            <td> {{subscription?.category?.description}} ‎ </td>
            <td> {{subscription?.category?.price}} € </td>
            
            <td>
                <button type="button" class="btn btn-sm btn-info grad-view">
                    <span class="material-icons" style="margin-top: 3px;">visibility</span>
                </button>
            </td>
        </tr>
        
    </tbody>
</table>

<button (click)="proc_reload_table()"> Reload Table </button>


