<div class="div-accueil">
  <div class="div-logo">
    <H2 class="text-white">ETAT DES LIEUX</H2>
    <div class="content_three">
      <div class="content_two">
        <div class="content_one">
          <div class="div-img">
            <img src="assets/image/logo.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="submit" (click)="clickLanguage('FR')" class="btn btn-primary text-uppercase ">Français</button>
      </div>
      <div class="col-6">
        <button type="submit" (click)="clickLanguage('EN')" class="btn btn-primary text-uppercase ">English</button>
      </div>
    </div>
  </div>
</div>

