.r-payment {
    // width: 500px;
    // background-color: #ffffff;
    // padding: 15px;
    // border-radius: 5px;
    // color: #922e7b;
    /*width: 500px; */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    color: #922e7b;
    background-color: white;
    /* margin: auto; */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    height: 283px;
    margin-left: 5%;
    margin-right: 0%;
}