<!-- <app-comp-image-cropper></app-comp-image-cropper>


<div>
    <p>Les maladies inflammatoires du foie liées aux virus de l'hépatite B (VHB) et de l'hépatite C (VHC) sont reconnues de longue date en France comme une priorité de santé publique. Depuis 1999, elles ont fait l'objet de trois plans nationaux concernant aussi bien la prévention que la prise en charge et la recherche.</p>
    <aside>
        <b> Partie aside : </b>Selon les dernières estimations, 500 000 personnes environ sont actuellement infectées par les virus de l'hépatite B et de l'hépatite C dans notre pays.
    </aside>
</div>

<div class="flex-container">
    <ng-container *ngFor="let star of stars">
        <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave($event)"
            (bigClick)="updateRating(star)">
        </app-star>
    </ng-container>
</div>


<app-payment-stripe-components [amount]="amountPrice"></app-payment-stripe-components> -->

<app-comp-calendar 
[dateStart]="dateStart"
[dateEnd]="dateEnd"
[hourOpen]="hourOpen"
[hourClose]="hourClose"
></app-comp-calendar>



