.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.my-success {
  width: 100%;
}


.my-chargement {
  width: 30%;
  text-align: center;
}

.display-error {
  color: #ee2a2a;
  padding-left: 23px;
  font-family: 'Poppins';
  font-size: small;
}