<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let payment of ListePayment" class="my-tr" class=" animate__animated animate__flipInX">
            <td (click)="proc_open_lg_detail_payment(payment)">{{payment.createdAt | date: 'dd MMM yyyy'}}</td>
            <td (click)="proc_open_lg_detail_payment(payment)">{{payment.comments}}</td>
            <td (click)="proc_open_lg_detail_payment(payment)">{{payment.totalAmount}} ‎€ </td>
            
            
            <td>
                <button type="button" class="btn btn-sm btn-info grad-view"
                    (click)="proc_open_lg_detail_payment(payment)">
                    <span class="material-icons" style="margin-top: 3px;">visibility</span>
                </button>
            </td>
        </tr>

    </tbody>
</table>