<section>

	<div>
		<h3>Historiques des réparations </h3>
	</div>
	<br>

	<app-dt-historique 
		[ListeHistorique]="listeHistorique"
		[type]="'byUser'"
		(afterDetailIntervention)="proc_emit_detailIntervention($event)"
	></app-dt-historique>

	<!-- ##############         Pop up detail garage | Value actual     #################         --->
	<ng-template #detailIntervention id="modal-detailIntervention" let-c="close" let-d="dismiss">

		<ng-container *ngIf="existIntervention === true" >
		<div class="modal-header">
			<div class="container">
				<div class="row">
					<div class="col-md-5 title-list">
						<p><span class="material-icons"> wb_incandescent</span>
							{{header}}</p>
					</div>
					<div class="col-md list-infos">
						<p *ngIf="existImmatriculation === false ">
							<strong>Immatriculation :</strong> {{DataInterventionDefault?.vehicle?.immatriculation}}
						</p>
						<p><strong>Votre véhicule :</strong> {{DataInterventionDefault?.vehicle?.model}} </p>
						<p><strong>Lieu de l'intervention :</strong> {{DataInterventionDefault?.address}}</p>
					</div>
				</div>
			</div>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="proc_close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" class="modal-detail-test">
			<div class="row list-item">

				<div class="col-md">
					<div class="garage-infos">
						<img src="assets/images/garage-logo.jpg" />
						<h2>{{DataInterventionDefault?.mechanic?.name}}</h2>

						<p class="adress"><span class="material-icons">location_on</span>
							{{DataInterventionDefault?.mechanic?.address}} </p>

							<div class="row">
								<div class="col-10">

									<!-- Component etoile -->
									<div class="flex-container" *ngIf="afficheNote === false">
										<ng-container *ngFor="let star of stars">
											<app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave($event)"
												(bigClick)="updateRating(star)">
											</app-star>
										</ng-container>
										<br> <br>
									</div>

									<div class="flex-container" *ngIf="afficheNote === true">
										<div class="form-group col-md-6">
											<label>Commentaire</label>
											<textarea id="noteCommentaire" class="form-control" type="text" name="inputNoteCommentaire" [(ngModel)]="noteCommentaire" ></textarea>
											<div class="text-center" style="width: 200px;">
												<button (click)="proc_set_note_commentaire()" class="btn btn-primary">Valider</button>
											</div>
										</div>
									</div>

									<div id="my-position">
										<p class="map">à 08km - à 15 Minute de vous</p>
									</div>

								</div>
								
								<div class="col-2">
									<span class="material-icons" (click)="proc_toggle_note()">chat_bubble_outline</span>
								</div>
							</div>

					</div>
					<div class="competences">
						<h4>Compétences</h4>
						<ul>
							<li>Transmission</li>
							<li>Moteur</li>
							<li>Carrosserie</li>
						</ul>
					</div>
					
					<a href="javascript:void(0)" class="btn btn-primary" (click)="changeDeChat(DataInterventionDefault.id)" *ngIf="DataInterventionDefault.statePayment === 'EN COURS'" >
						<span class="material-icons">chat_bubble_outline</span> 
						Discuter avec ce mecano
					</a>
				</div>

				<div class="col-md garage-price">
					<p class="price">{{DataInterventionDefault?.diagnostic1?.price}}€</p>
					<p class="rdv"><strong>Rendez-vous : </strong>{{selectDay}} à {{selectHeure}}</p>

					<div class="r-payment">
						<div *ngIf="DataInterventionDefault.statePayment === 'EN ATTENTE'">
							Veuillez payer la commission pour que l'intervention soit prise en charge (10 Euro)?
							
							<app-payment-stripe-components 
								[type]="'Intervention'"
								[amount]="amountPrice"
								(afterUpdateIntervention)="proc_emit_afterUpdateIntervention($event)" 
							></app-payment-stripe-components>
							<!-- <app-paypal [intervention]="intervention" (newItemEvent)="proc_emitNewItemEvent($event)">
							</app-paypal> -->
							
						</div>
						<div *ngIf="DataInterventionDefault.statePayment === 'EN COURS'">
							Intervention en cours, contacter votre mecano pour le payement de votre intervention.
							
							<app-payment-stripe-components 
								[type]="'Intervention'"
								[amount]="amountPrice"
								(afterUpdateIntervention)="proc_emit_afterUpdateIntervention($event)"
							></app-payment-stripe-components>
							<!-- <app-paypal [intervention]="intervention" (newItemEvent)="proc_emitNewItemEvent($event)">
							</app-paypal> -->
						</div>
						<div *ngIf="DataInterventionDefault.statePayment === 'EFFECTUE'">
							Intervention avec succée.
						</div>
					</div>
				</div>
			</div>

		</div>
		</ng-container>

		<ng-container *ngIf="existIntervention === false" >

			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="col-md-5 title-list">
							<p>
								<span class="material-icons"> wb_incandescent</span>
								Intervention non trouvée !
							</p>
						</div>
						
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="proc_close()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</ng-container>


	</ng-template>

	<!-- ##############         Pop up detail garage | Value actual     #################         --->

</section>