<section>
    <div class="mt-3">
        <h3 class="d-inline">Mes Catégories d'abonnements</h3>
        <button type="button" class="btn btn-md btn-primary d-inline float-right" (click)="openModalAddCategory(actionCategory)">
            Nouveau
        </button>
    </div>

    <!-- GESTION CATEGORY LIST -->
    <div class="mt-4">
        <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listCategories" class=" animate__animated animate__flipInX cursor-cl">
                    <td (click)="emitDataCategory(item)">{{item.description}}</td>
                    <td (click)="emitDataCategory(item)">{{item.typeCategories}}</td>
                    <td (click)="emitDataCategory(item)">{{item.price}} €</td>
                    <td>
                        <button class="btn btn-danger btn-sm grad-delete" (click)="beforeDeleteCategory(item.id)">
                            <span class="material-icons" style="margin-top:2px;">delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- Action update -->
<ng-template #actionCategory>
    <div class="modal-header">
        <h5 *ngIf="checkAction == 'edit'">Modification catégorie abonnement</h5>
        <h5 *ngIf="checkAction == 'add'">Ajout catégorie abonnement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-connect">
        <div class="form-group">
            <form>
                <label>Description</label>
                <input class="form-control" type="text" name="addDescription" [(ngModel)]="addDescription">
            </form>            
        </div>
        <div class="form-group">
            <form>
                <label>Type</label>
                <input class="form-control" placeholder="MECANO" type="text" name="typeCategorie" [(ngModel)]="typeCategorie" [disabled]="true">
            </form>            
        </div>
        <div class="form-group">
            <form>
                <label>Prix</label>
                <input class="form-control" type="text" name="addPrice" [(ngModel)]="addPrice">
            </form>
        </div>
    </div>

    <div class="form-group d-flex justify-content-center mt-5">
        <button *ngIf="checkAction == 'add'" class="btn btn-md btn-primary mr-1" (click)="addCategory()">
            Valider
        </button>
        <button *ngIf="checkAction == 'edit'" class="btn btn-md btn-primary mr-1" (click)="updateCategory()">
            Valider
        </button>
        <button class="btn btn-md btn-primary ml-1" (click)="closeModal()">
            Annuler
        </button>
    </div>
</ng-template>

<ng-template #confirmDelete>
    <div class="modal-header">
        <h5>Suppression catégorie abonnement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-connect d-flex justify-content-center">
        Etes-vous sûr de vouloir supprimer cette catégorie d'abonnement ?
    </div>

    <div class="form-group d-flex justify-content-center mt-5">
        <button class="btn btn-md btn-primary mr-1" (click)="deleteCategory()">
            Valider
        </button>
        <button class="btn btn-md btn-primary ml-1" (click)="closeModal()">
            Annuler
        </button>
    </div>
</ng-template>