<!-- <p>chat entemps reel</p>
<div class="chat-messages">
    <div class="chat-messages-show-container">
      <ul class="chat-messages-show-list" id="message-list">
      </ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
      <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
</div>

<input type="file" id="image"  #UploadFileInput name="uploadedImage" placeholder="Photo" (change)="onFileSelect($event)" class="form-control"> -->
<button class="open-button" (click)="openForm()"><span class="material-icons">chat_bubble_outline</span> Vous souhaitez discuter ? <span class="material-icons right">expand_less</span></button>

	<div class="chat-popup" id="myForm">
		<button type="button" class="btn cancel" (click)="closeForm()"><span class="material-icons">chat_bubble_outline</span> <b><span id="titrechat">Administrateur</span> </b> <span class="material-icons right">expand_more</span></button>
	  <form action="/action_page.php" class="form-container">
      <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-list">
        </ul>
      </div>
    <div class="mail-chat">
      <input class="form-control" type="mail"  id="email-adresse" placeholder="Votre adresse mail" name="mail" class="form-control" [(ngModel)]="emailSenderAnonyme">
    </div>
    <div class="send-cont">
      <div class="file-chat">
        <input type="file" id="image"  #UploadFileInput name="uploadedImage" placeholder="Photo" (change)="onFileSelect($event)" class="form-control">
      </div>
      <input class="form-control" type="text"  placeholder="Message" name="textdumessage" class="form-control" [(ngModel)]="message">
      <button type="submit" class="btn" (click)="SendMessage()"><span class="material-icons">send</span></button>
    </div>
	  </form>
	</div>