.div_header{
  height: 30vh;
  background: url('../../../assets/image/sejour.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_icon_input{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.container{
  padding-top: 20px;
  padding-bottom: 30px;
}
