.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#my-div-id {
    background-image: url(/assets/images/capture-phone.png);
    width: 500px;
    height: 200px;
}


.my-chargement {
    width: 25%;
    margin-left: 40%;
    text-align: center;
}

.display-error {
    color: #ee2a2a;
    padding-left: 23px;
    font-family: 'Poppins';
    font-size: small;
}

.third-button-voir button {
    font-size: 12px;
    margin-top: -70px;
    margin-left: 225px;
}
.third-button-voir {
    background-color: #ffffff66;
    width: auto;
    
}