<input type="file" (change)="fileChangeEvent($event)"  />

<div class="row">
    <div class="col-lg-8 r-div">
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 3"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    </div>
    <div class="col-lg-4 r-div">
        <img [src]="croppedImage" />
    </div>
</div>


