  <div class="connect-social">
    <p>Se connecter avec les réseaux sociaux</p>
    <ul>
      <li><a  (click)="signInWithFB()"><img src="assets/images/facebook.png" /> Facebook</a></li>
      <li><a (click)="signInWithGoogle()"><img src="assets/images/google.png" /> Google</a></li>
    </ul>


<!--    <img src="{{ user.photoUrl !== undefined && user.photoUrl }}">-->
<!--    <div>-->
<!--      <h4>{{ user.name  !== undefined &&  user.name }}</h4>-->
<!--      <p>{{ user.email !== undefined && user.email  }}</p>-->
<!--    </div>-->
  </div>



