.autocomplete-container {
    background: #F8ECEE;
    border: none;
    border-radius: 26px;
}

.autocomplete-container .input-container input {
    
    background: #F8ECEE;
    border: none;
    border-radius: 26px;
    padding: 1.475rem 1.3rem;
}