<div class="animate__animated animate__fadeInLeft home">

	<div id="main">
		<header>
			<button class="openbtn" (click)="openNav()">☰</button>

			<div class="container logo">
				<a><img src="assets/images/logo.png" (click)="proc_clickImage()" /></a>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md top-list">
						<ul>
							<!-- <li><app-paypal [intervention]="intervention"></app-paypal></li> -->

							<li><a data-toggle="modal" data-target="#modal-option-1" (click)="open_lg(option1)">Je
									souhaite de l'aide, je ne sais pas ce qu'a ma voiture <span
										class="material-icons">arrow_forward</span></a></li>
							<li><a data-toggle="modal" data-target="#modal-option-2" (click)="open_lg_option2()">Je sais
									ce qu'a ma voiture, je choisis mon prestataire <span
										class="material-icons">arrow_forward</span></a></li>
							<!-- <li><a data-toggle="modal" data-target="#modal-suscribe" (click)="open_md(suscribe)">Je suis
									prestataire auto, je m'inscris à G&C <span
										class="material-icons">arrow_forward</span></a></li> -->
						</ul>
					</div>
					<div class="col-md top-img">
						<img src="assets/images/garage-illustration.png" />
					</div>
				</div>
			</div>
		</header>

		<section class="text-center prestations">
			<div class="container">
				<h1>G&C va plus loin et vous propose des prestataires</h1>
				<ul>
					<li>
						<a>
							<img src="assets/images/icon1.png" />
							<h3>Contrôle technique</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon2.png" />
							<h3>Dépannage</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon3.png" />
							<h3>Parebrise</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon4.png" />
							<h3>Nettoyage en profondeur intérieur</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon5.png" />
							<h3>Carte grise</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon6.png" />
							<h3>Faire vendre ma voiture</h3>
						</a>
					</li>
					<li>
						<a>
							<img src="assets/images/icon7.png" />
							<h3>Faire acheter ma voiture</h3>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="fonction">
			<div class="container">
				<div class="row">
					<div class="col-md-6 order-md-12">
						<h2>Comment ça marche</h2>
						<p>Notre objectif est de faciliter à nos client-e-s l'accès à des services de mécanique auto et
							d'achat-vente de qualité au meilleur prix sans se prendre la tête. Laissez nous votre
							problématique en message en bas de cette page ou réserver directement via le bouton en haut
							de la page pour passer à une autre dimension de la réparation auto.</p>
						<ul>
							<li><span class="material-icons">done</span> J’ai ma pièce auto</li>
							<li><span class="material-icons">build</span> je réserve un professionnel</li>
							<li><span class="material-icons">date_range</span> Choisissez la date et l'heure</li>
							<li><span class="material-icons">touch_app</span> Confirmez votre demande</li>
						</ul>
					</div>
					<div class="col-md-6 order-md-1"><img src="assets/images/capture-phone.png" /></div>
				</div>
			</div>
		</section>
		<section class="contact">
			<div class="container">
				<h2>Besoin d'aide?<br />Envoyer nous un message</h2>
				<form>
					<div class="form-group">
						<label>Nom *</label>
						<input class="form-control" type="text">
					</div>
					<div class="form-group">
						<label>Prénom *</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Email *</label>
						<input type="email" class="form-control">
					</div>
					<div class="form-group">
						<label>Message *</label>
						<textarea class="form-control"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</form>
			</div>
		</section>

	</div>


	<!---Pop up Connection--->

	<ng-template #connect id="modal-connect" let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h5>Identifiez-vous pour continuer et obtenir votre tarif immédiatement</h5>
			<!-- (click)="d('Cross click')" -->
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="proc_close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<app-login (close)="onClose($event)"></app-login>

	</ng-template>


	<!---Pop up inscription--->
	<ng-template #suscribe id="modal-suscribe" let-c="close" let-d="dismiss">

		<div class="modal-header">
			<h5>Inscrivez-vous en quelques clics </h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<app-inscription></app-inscription>

	</ng-template>

	<!---Pop up option1: je ne sais pas ce qu'a ma voiture--->
	<ng-template #option1 id="modal-option-1" let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h5>Obtenez votre devis gratuit immédiatement et Réservez votre rendez-vous en ligne</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body modal-option-1">

			<ul class="nav nav-tabs row">
				<ng-template ngFor let-diagnostic1 [ngForOf]="DataDiagnostic1">
					<li class="col-6"><a data-toggle="tab" (click)="click_spet1(diagnostic1.id)"><span
								class="material-icons">{{ diagnostic1.icone }}</span> {{ diagnostic1.description }}</a>
					</li>
				</ng-template>
			</ul>

			<div class="tab-content" *ngIf="showStep1 == true && showLogin == false">
				<div id="home">
					<div class="row">
						<div class="col-md-6">
							<form>
								<h6>Veuillez décrire le problème</h6>
								<div class="form-group">
									<textarea class="form-control" name="problemeDescription"
										[(ngModel)]="problemeDescription"></textarea>
								</div>
								<div class="form-group form-file">
									<label>Choisir une autre photo</label>
									<input type="file" data-buttonText="Your label here." name="problemePhoto"
										[(ngModel)]="problemePhoto">
								</div>

								<button *ngIf="showErreurStep1 == false" type="submit" class="btn btn-primary"
									(click)="click_showSpet2()">Envoyer</button>
								<div class="alert alert-danger animate__animated animate__fadeInDown" role="alert"
									*ngIf="showErreurStep1 == true">
									Veuillez fournir un des données ci-dessus ...
								</div>

							</form>
						</div>
						<div class="col-md-6" *ngIf="showStep2 == true">
							<form>
								<h6>Décrivez votre voiture </h6>
								<app-comp-immatriculation (selectImmatriculation)="proc_emit_immatriculation($event)">
								</app-comp-immatriculation>
								<p>Ou</p>
								<div class="form-row">
									<div class="form-group col-sm">
										<app-comp-select-marque (changeMarque)="proc_emit_change_marque($event)">
										</app-comp-select-marque>
									</div>
									<div class="form-group col-sm">
										<app-comp-select-modele [listeFilterModel]="listeFilterModel"
											(changeModele)="proc_emit_change_modele($event)"></app-comp-select-modele>
									</div>
								</div>
								<h6>Adresse de l'intervention</h6>
								<div class="form-row">
									<div class="form-group col-sm-8">
										<label>Votre adresse</label>
										<input class="form-control" name="interventionAdresse"
											[(ngModel)]="interventionAdresse" type="text">
									</div>
									<div class="form-group col-sm-4">
										<a><span class="material-icons">place</span> Géocaliser</a>
									</div>
								</div>
								<button *ngIf="showErreurStep2 == false" type="submit" class="btn btn-primary"
									(click)="proc_listeMecano()">Valider</button>
								<div class="alert alert-danger animate__animated animate__fadeInDown" role="alert"
									*ngIf="showErreurStep2 == true">
									Veuillez fournir les spécifications ci-dessus
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="menu1" class="tab-pane fade">
					<div class="row">
						<div class="col-md-6">
							<form>
								<h6>Veuillez décrire le problème</h6>
								<div class="form-group">
									<textarea class="form-control"></textarea>
								</div>
								<div class="form-group form-file">
									<label>Choisir une autre photo</label>
									<input type="file" data-buttonText="Your label here.">
								</div>
								<button type="submit" class="btn btn-primary">Envoyer</button>
							</form>
						</div>
						<div class="col-md-6">
							<form>
								<h6>Décrivez votre voiture </h6>

								<app-comp-immatriculation (selectImmatriculation)="proc_emit_immatriculation($event)">
								</app-comp-immatriculation>
								<p>Ou</p>
								<div class="form-row">

									<div class="form-group col-sm select-cont">

										<app-comp-select-marque (changeMarque)="proc_emit_change_marque($event)">
										</app-comp-select-marque>
									</div>
									<div class="form-group col-sm select-cont">

										<app-comp-select-modele [listeFilterModel]="listeFilterModel"
											(changeModele)="proc_emit_change_modele($event)"></app-comp-select-modele>

									</div>
								</div>
								<h6>Adresse de l'intervention</h6>
								<div class="form-row">
									<div class="form-group col-sm-8">
										<label>Votre adresse</label>
										<input class="form-control" name="interventionAdresse"
											[(ngModel)]="interventionAdresse" type="text" required>
									</div>
									<div class="form-group col-sm-4">
										<a><span class="material-icons">place</span> Géocaliser</a>
									</div>
								</div>
								<button type="submit" class="btn btn-primary"
									(click)="proc_listeMecano()">Valider</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ng-template>

	<!---Pop up option2: Je sais ce qu'a ma voiture--->
	<ng-template #option2 id="modal-option-2" let-c="close" let-d="dismiss">

		<div class="modal-header">
			<h5>Obtenez votre devis gratuit immédiatement et Réservez votre rendez-vous en ligne</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalDiagnostic2()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body modal-option-2">
			<div class="row">
				<div class="col-md-6">
					<form>
						<h6>Veuillez décrire le problème</h6>

						<app-section-management
							[listSection]="listSection"
							(showRightMenu)="showRightFormular($event)"
						></app-section-management>

					</form>
				</div>
				<div class="col-md-6" *ngIf="showRightMenu == true">
					<form>
						<h6>Décrivez votre voiture </h6>

						<app-comp-immatriculation (selectImmatriculation)="proc_emit_immatriculation($event)">
						</app-comp-immatriculation>

						<p>Ou</p>
						<div class="form-row">
							<div class="form-group col-sm select-cont">

								<app-comp-select-marque (changeMarque)="proc_emit_change_marque($event)">
								</app-comp-select-marque>

							</div>
							<div class="form-group col-sm select-cont">
								<app-comp-select-modele [listeFilterModel]="listeFilterModel"
									(changeModele)="proc_emit_change_modele($event)"></app-comp-select-modele>
							</div>
						</div>
						<h6>Adresse de l'intervention</h6>
						<div class="form-row">
							<div class="form-group col-sm-8">
								<label>Votre adresse</label>
								<input class="form-control" name="interventionAdresse" [(ngModel)]="interventionAdresse"
									type="text">
							</div>
							<div class="form-group col-sm-4">
								<a><span class="material-icons">place</span> Géocaliser</a>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" (click)="proc_listeMecano()">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</ng-template>
</div>