
.grad-view {
    background-image: linear-gradient(to right, #9c3183, #b194aa);
    border-radius: 30px;
    border: 1px solid;
}


.grad-delete {
    background-image: linear-gradient(to right, #9c3183, #b194aa);
    border-radius: 30px;
    border: 1px solid;
}

.my-tr {
    cursor:cell;
}

