


<div class="container">

    <body class="text-center">
        <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal"> Inscription </h1>

        <label for="inputPrenom" class="sr-only">Surnom</label>
        <input type="text" name="inputSurnom" [(ngModel)]="surnom"  class="form-control" placeholder="surnom">

        <label for="inputNom" class="sr-only">Nom</label>
        <input type="text" name="inputNom" [(ngModel)]="nom"  class="form-control" placeholder="Nom" >

        <label for="inputPrenom" class="sr-only">Prénom</label>
        <input type="text" name="inputPrenom" [(ngModel)]="prenom"  class="form-control" placeholder="prenom">

        <!--The content below is only a placeholder and can be replaced.-->
            <form #f="ngForm" [formGroup]="phoneForm">

                <ngx-intl-tel-input
                [inputId]="'adsasd'"
                [cssClass]="'form-control'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15"
                [tooltipField]="TooltipLabel.Name"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                name="phone" [(ngModel)]="phone" formControlName="phone">
                </ngx-intl-tel-input>

                <div class="mb-2">
                <button (click)="f.reset()">Reset</button>
            </div>
        </form>

        <label for="inputPhone" class="sr-only">Numero de telephone portable</label>
        <input type="numero" name="inputPhone"  class="form-control" placeholder="phone"> -->

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="inputEmail"  [(ngModel)]="email"  class="form-control" placeholder="email">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" [(ngModel)]="password"  class="form-control" placeholder="password">

        <div class="checkbox mb-3">
            <label>
            Mot de passe oublié
            </label>
        </div>

        <button class="btn btn-sm btn-success btn-block" type="button" (click)="proc_inscription()" >Inscription</button>

        <div (click)="proc_change_page('accueil')"> Accueil </div>
        <div (click)="proc_change_page('home')"> Home </div> -->

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </body>

</div>

