.container-cat {
    padding: 5px; 
    padding-left: 5%; 
    padding-right: 5%;
}

.div-btn-abonnement {
    width: 100%;
    text-align: center;
}


.div-disable{
    pointer-events:none;
    display: none;
}