/* ###############     alignement CSS  ################### */
.flex-container {
  display: flex;
}


.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}


/* Configuration sur modal  */
.my-modal-lg {
  size: 500px;
}

.modal-footer button {
  transition: 0.25s;
  padding: 8px 25px 11px;
  background: linear-gradient(to right,#E0AC8B,#9C3183);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
}





